/* SCO R symposium presentation style-sheet */

@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Source+Code+Pro:400,700');

/* Declare main colours */
:root {
  --colour1: #246ABF;
  --colour2: #C6E6E6;
  --t1: 135%;
  --t1pad: 5px;
  --t2: 100%;
  --t2mar: 15px;
  --t3: 150%;
  --t3mar: 20px;
  --head1: #246ABF;  /* heading bar behind header text */
  --h1: #FFFFFF;
  --h1-alt: #000000;
  --rblue: #246ABF;

  --size: 25px;

  --logo: none;
  --logo-size: none;
  --logo-pos: none;

  --page-numbers: block; /* none */

  --twitter: "@steffilazerte";

  --large: 150%;
  --med: 90%;
  --small: 75%; /* how small is small? */
}

.title-slide h3 {
  font-size: 500% !important;
}

.white {
  color: white;
  font-weight: bold;
}

.hl {
  background-color: yellow;
}

.rblue {
  color: var(--rblue);
  font-weight: bold;
}
